[submodule "devspace-makefile"]
	path = devspace-makefile
	url = git@github.com:Pushing7/devspace-makefile.git
[submodule "wait-for-it"]
	path = wait-for-it
	url = git@github.com:vishnubob/wait-for-it.git
