[submodule "devspace-makefile"]
	path = devspace-makefile
	url = git@github.com:teco-kit/devspace-makefile.git
[submodule "wait-for-it"]
	path = drupal/wait-for-it
	url = git@github.com:vishnubob/wait-for-it.git
[submodule "gpii.net"]
	path = gpii.net
	url = https://github.com/teco-kit/gpii.net.git
	branch = dockerfile
